.main-filter {
  align-items: flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 3rem;
  justify-content: center;
  width: 100%;
  gap: 20px;
  transition: 0.6s;
}

.main-filter > * {
  padding: 0.4rem;
  margin: 0.4rem;
}

input {
  height: 10%;
  border: none;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid var(--clr12);
  background-color: var(--clr1);
  font-size: large;
  outline: none;
}

select {
  height: 10%;
  border: none;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid var(--clr12);
  background-color: var(--clr1);
  font-size: large;
  outline: none;
}

label {
  font-size: 1.3em;
  font-variant: small-caps;
}
