:root {
  --clr1: #fffffe;
  --clr2: #f1f3f4;
  --clr3: #477cd8;
  --clr4: #feefc3;
  --clr5: #5f6368;
  --clr6: #ffd700;
  --clr7: #202124;
  --clr8: #f2f5f5cc;
  --clr9: #e8eaed94;
  --clr10: #d93025;
  --clr11: #404040;
  --clr12: #b8b8b8;
  --clr13: #2976f1;

  /* Screens */
  --s: 600px;
  --m: 800px;
  --w: 1060px;
}
